@import '../../../styles/index.scss';

.graph-view {
  grid-column: 2/4;
  grid-row: 2/4;
  @include centerH;

  @include small-media {
    grid-column: 1/4;
    grid-row: 2;
    border-bottom: $primary $thick solid;
  }

  h2 {
    @include secondaryFont;
    font-size: 5rem;
  }
}
