@mixin button-hover {
  &:hover {
    filter: drop-shadow($primary 0 0 0.5rem);
  };
}

@mixin button-hover-secondary {
  &:hover {
    filter: drop-shadow($secondary 0 0 0.5rem);
  };
}

@mixin button-hover-secondary-full {
  &:hover {
    filter: drop-shadow($primary 0 0 0.5rem);
    background-color: $secondary;
  }
}
